<h2><%= link_to recipe.name, recipe_path(recipe) %></h2>
<img src= "<%= recipe.image_url %>"<br>
<h3>Recipe By <%= link_to recipe.user.username, user_path(recipe.user) %>
<%= recipe.created_at.strftime("%m-%d-%y") %></h3>
<h3><%= link_to recipe.reviews.count, recipe_reviews_path(recipe) %> Reviews </h3>
<h3><%= recipe.recipe_ingredients.count %> ingredients</h3>
