<h1>All Recipes </h1>

<%= form_tag("/recipes", method: "get") do %>
<%= select_tag "user", options_from_collection_for_select(@users, "id", "username"), include_blank: true %>
<%= submit_tag "Filter by User" %>
<% end %>

<%= form_tag("/recipes", method: "get") do %>
<%= select_tag "ingredient", options_from_collection_for_select(@ingredients, "id", "name"), include_blank: true %>
<%= submit_tag "Filter by Ingredient" %>
<% end %>

<%= form_tag("/recipes", method: "get") do  %>
    <%= radio_button :recency, "recency", include_blank: true  %>
    <label for="recency">Most Recent</label>
    <%= radio_button :ingredients_count, "ingredients_count", include_blank: true  %>
    <label for="ingredients_count">Lowest Number of Ingredients</label>
    <%= radio_button :reviews_count, "reviews_count", include_blank: true  %>
    <label for="reviews_count">Most Reviewed</label>
    <%= submit_tag 'Sort' %>
    <% end %>
 
<% @recipes.each do |r| %>
<h2><%= link_to r.name, recipe_path(r) %></h2>
<img src= "<%= r.image_url %>"><br>
<h3>Recipe By  <%= link_to r.user.username, user_path(r.user) %>
<%= r.created_at.strftime("%m-%d-%y") %></h3>
<h3><%= link_to r.reviews.count, recipe_reviews_path(r) %> Reviews </h3>
<h3><%= r.recipe_ingredients.count %> ingredients</h3>
<% end %>