<%= render partial: "recipe", locals: {recipe: @recipe} %>

<% if @recipe.user == current_user %>
<h3><%= link_to "Edit Recipe", edit_recipe_path %> </h3>
<% end %>

<p>Desciption: <%= @recipe.description %></p>
<div class= "ingredients">
<p>Ingredients:</p>
<% @recipe.recipe_ingredients.each do |ri| %>
    <p><li>
    <%= ri.quantity %>
    <%= ri.ingredient.name %>
<% end %>
</li></p>
</div>