<h1> <%= @user.username %>'s Recipes</h1>
<% @user.recipes.each do |rec| %>
<h2> <%= link_to rec.name, recipe_path(rec) %> </h2>
<img src= "<%= rec.image_url %>">
<% end %>
<% if @user.recipes.none? %>
<p>0 Recipes</p>
<% end %>

<h2>Reviews:</h2>

<% if @user.reviews.any? %>
<% @user.reviews.each do |rev| %>
<h3><%= link_to rev.recipe.name, recipe_path(rev.recipe)%> <%= rev.created_at.strftime("%m-%d-%y")%><h3>
<h3> <%= rev.text %><h3>
<% end %> 
<% else %>
<h3> 0 Reviews </h3>
<% end %> 
