<h2>Reviews for <%= @recipe.name.titleize %></h2>
<p>
<% if @recipe.reviews.none? %>
This recipe hasn't been reviewed yet! </p>
<% end %> 

<% @reviews.each do |rev| %>
<h4> By <%= link_to rev.user.username, user_path(rev.user)%> 
<%= rev.created_at.strftime("%m-%d-%y") %></h4>
<p><%= rev.text %>  
<% if rev.user == current_user %>
<%= link_to "Edit", edit_recipe_review_path(@recipe, rev) %>
<% end %>
<% end %>
<br><br>
<%= link_to "Create Review", new_recipe_review_path(@recipe) %></p>
