<!DOCTYPE html>
<html>
  <head>
    <title>Cookbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
  <header class="header">
  <h1>The Cookbook</h1>
  <img src ="https://images.squarespace-cdn.com/content/v1/518ea9e4e4b0eb1ecff22776/1480450074024-LTJO255BUA2ODWGZDNJI/Quality+Ingredients?format=1500w">
  </header>

  <% if flash[:alert] %>
 <center> <%= flash[:alert] %> </center>
<% end %>

  <%= yield %>

<footer class="footer">
<nav>
<ul>
<%= link_to "Home", root_path %> 
<%= link_to "All Recipes", recipes_path %> 
<%= link_to "All Users", users_path %>
<% if !current_user %>
<%= link_to "Sign Up", new_user_path %>
<%= link_to "Login", login_path %>
<% else %>
<%= link_to "Add Recipe", new_recipe_path %>
<%= link_to "Your Page", user_path(current_user) %>
<%= link_to "Log Out", logout_path, method: "post" %>
<% end %>
</ul>
</nav>
</footer>
</body>
</html>
